.array-container{
    margin: 50px 20px;
    display: absolute;
    flex-direction: column ;
}

.array-bar{
    text-align: left;
    color:black;
    height: 20px;
    background-color: purple;
    margin: 2px 5px;
}

